In [43]:
import pandas as pd
import os

In [44]:
reviewer_reviews = pd.read_csv('all_reviewer_reviews.csv', index_col=0)
restaurant_reviews = pd.read_csv('../restaurant-data/all_restaurant_reviews.csv', index_col = 0)

In [37]:
# remove restaurants that are not in available in all_restaurant_reviews 
unique_restaurants = restaurant_reviews['url'].unique()
reviews_available = reviewer_reviews[reviewer_reviews['link'].isin(unique_restaurants)]

In [41]:
# change in number of reviews
result = reviewer_reviews[['reviewer','link']].groupby('reviewer').count().reset_index()
result['num_reviews_available'] = list(reviews_available[['reviewer','link']].groupby('reviewer').count()['link'])
result.rename({'link':'num_reviews_before'}, axis = 1)

            reviewer  num_reviews_before  num_reviews_available
0    DanielFoodDiary                 122                     26
1           Eatravel                1796                    637
2       MightyFoodie                1636                    480
3        Vanessa_Kou                1028                    327
4         alamakgirl                3173                    624
5            iSteven                  46                     16
6          juliuslim                1448                    439
7  thefoodcompendium                4484                   1792
8          thiampeng                3134                    821
9       veronicaphua                 906                    437

In [46]:
# total number of reviews 
result.sum()

reviewer                 DanielFoodDiaryEatravelMightyFoodieVanessa_Kou...
link                                                                 17773
num_reviews_available                                                 5599
dtype: object

In [50]:
# drop danielfooddiary and isteven due to lack of reviews
reviewers_to_keep = list(result[result['num_reviews_available']>=100]['reviewer'])
final_reviews = reviews_available[reviews_available['reviewer'].isin(reviewers_to_keep)]
final_reviews.head(3)

,name,address,review,date,link,reviewer,keep
12,Kazoku Japanese Cuisine,"1 Goldhill Plaza, Singapore ...",\n1-for-1 Don\nKazoku Chirashi Don (S$29.90++)...,4d ago,https://www.burpple.com/kazoku-japanese-cuisin...,alamakgirl,1
31,Tigerlily Patisserie,"350 Joo Chiat Road, Singapore ...","\nBrunch\nBeehive (S$15+)\nLemon, thyme and ly...",Feb 26 at 12:44pm,https://www.burpple.com/tigerlily-patisserie?b...,alamakgirl,1
32,Putien (Northpoint City) ...,"930 Yishun Avenue 2, Singapore ...",\nBirthday Treat \n20% discount \nValid during...,Feb 24 at 10:47pm,https://www.burpple.com/putien-8?bp_ref=%2Ff%2...,alamakgirl,1