In [44]:
import os

import warnings 
warnings.filterwarnings('ignore')

# for data analytics
import pandas as pd
import numpy as np
from collections import Counter

# for visualizations
import seaborn as sns
import matplotlib.pyplot as plt

# for data preparation
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score

# imblean provides tools for us to deal with imbalanced class sizes
from imblearn.over_sampling import SMOTE 
from imblearn.under_sampling import EditedNearestNeighbours
from imblearn.combine import SMOTEENN

# # For entropy computation
# from pyitlib import discrete_random_variable as drv

from scipy import stats
import missingno
from sklearn import preprocessing

# TEXT EDA
# from wordcloud import WordCloud

# import spacy
# from spacy.lang.en.stop_words import STOP_WORDS
# from spacy.lang.en import English

import matplotlib.pyplot as plt; plt.rcParams['figure.dpi'] = 100
import matplotlib.gridspec as gridspec
import seaborn as sns; sns.set()
import ast

In [ ]:
def read_file():
    full_data = pd.DataFrame()
    for file in os.listdir():
        if 'compiled' in file:
            data = pd.read_csv(file, index_col = 0)
            full_data = full_data.append(data)
    return full_data

In [23]:
data = read_file()

## General counts

In [24]:
data

,url,name,neighbourhood,price,categories,review,user,date
0,https://www.burpple.com/bedok-85-market?bp_ref...,85 Fengshan Centre,Bedok,~$5/pax,"['Hawker Food', 'Supper', 'Cheap & Good']","\nFish Ball Minced Meat Noodle\nFishball, meat...",Triffany Lim,21m ago
1,https://www.burpple.com/bedok-85-market?bp_ref...,85 Fengshan Centre,Bedok,~$5/pax,"['Hawker Food', 'Supper', 'Cheap & Good']","\nOrh lua\nThere are a couple of stores, but g...",Ally Tan,Jul 30 at 4:12pm
2,https://www.burpple.com/bedok-85-market?bp_ref...,85 Fengshan Centre,Bedok,~$5/pax,"['Hawker Food', 'Supper', 'Cheap & Good']",\nPeanut sauce was ace\nI love a good satay pe...,Ally Tan,Jul 30 at 4:10pm
3,https://www.burpple.com/bedok-85-market?bp_ref...,85 Fengshan Centre,Bedok,~$5/pax,"['Hawker Food', 'Supper', 'Cheap & Good']",\nClassic BBQ wings\nJuicy and tasty like it‚Äôs...,Ally Tan,Jul 30 at 4:09pm
4,https://www.burpple.com/bedok-85-market?bp_ref...,85 Fengshan Centre,Bedok,~$5/pax,"['Hawker Food', 'Supper', 'Cheap & Good']",\nBBQ stingray\nIt was yummy but slight warnin...,Ally Tan,Jul 30 at 4:08pm
...,...,...,...,...,...,...,...,...
26,https://www.burpple.com/chui-huay-lim-teochew-...,Chui Huay Lim Teochew Cuisine,Newton,~$50/pax,"['Chinese', 'Good For Groups']",\nBento Box D $13.80\nÂ∑ùÊ§íÈõûÊü≥ | ÈÆÆËÖêÁ´πËù¶ÁêÉ | Ê∏ÖÁÇíË•øËò≠Ëä± | ...,K T,"Oct 27, 2020"
27,https://www.burpple.com/chui-huay-lim-teochew-...,Chui Huay Lim Teochew Cuisine,Newton,~$50/pax,"['Chinese', 'Good For Groups']",\nBento Box C $11.80\nÊôÆÂØßË±ÜÈÜ¨Ëµ∞Âú∞Èõû | ÈÆÆËèåÁø°Áø†Ë±ÜËÖê | ËíúËå∏ÁÇíÂõõ...,K T,"Oct 26, 2020"
28,https://www.burpple.com/chui-huay-lim-teochew-...,Chui Huay Lim Teochew Cuisine,Newton,~$50/pax,"['Chinese', 'Good For Groups']",\nBento Box B $11.80\nËíúÂ≠êË±ÜË±âÂáâÁìúÈªëË±¨Ê¢ÖËÇâ | È¶ôËèåÊâíË±ÜËÖê | ËíúËå∏...,K T,"Oct 9, 2020"
29,https://www.burpple.com/chui-huay-lim-teochew-...,Chui Huay Lim Teochew Cuisine,Newton,~$50/pax,"['Chinese', 'Good For Groups']",\nÊΩÆÂ∑ûÁ≥ú Bento A $12.80\nÈπµÈ¥®ÊãºË±ÜÂπ≤ | Â∑ùÊ§íÈõû | Ê¨ñËèúÂõõÂ≠£Ëãó| ËèúËÑØ...,K T,"Oct 1, 2020"
30,https://www.burpple.com/chui-huay-lim-teochew-...,Chui Huay Lim Teochew Cuisine,Newton,~$50/pax,"['Chinese', 'Good For Groups']",\nNgoh Hiang\nSo good! Crispy exterior with a ...,Rachel Syj,"Jan 17, 2020"

In [28]:
# Total Number of restaurant reviews
print(f'No. reviews: {len(data)}')
# Number of restaurants with reviews
num = len(data['url'].unique())
print(f'No. restaurants: {num}')

No. reviews: 6528650
No. restaurants: 863

## Clean Cost Column

In [35]:
data['cleaned_price'] = data['price'].apply(lambda x: int(x.split('/')[0].replace('~$','')) if '$' in x else np.nan)
data.head(3)

,url,name,neighbourhood,price,categories,review,user,date,cleaned_price
0,https://www.burpple.com/bedok-85-market?bp_ref...,85 Fengshan Centre,Bedok,~$5/pax,"['Hawker Food', 'Supper', 'Cheap & Good']","\nFish Ball Minced Meat Noodle\nFishball, meat...",Triffany Lim,21m ago,5.0
1,https://www.burpple.com/bedok-85-market?bp_ref...,85 Fengshan Centre,Bedok,~$5/pax,"['Hawker Food', 'Supper', 'Cheap & Good']","\nOrh lua\nThere are a couple of stores, but g...",Ally Tan,Jul 30 at 4:12pm,5.0
2,https://www.burpple.com/bedok-85-market?bp_ref...,85 Fengshan Centre,Bedok,~$5/pax,"['Hawker Food', 'Supper', 'Cheap & Good']",\nPeanut sauce was ace\nI love a good satay pe...,Ally Tan,Jul 30 at 4:10pm,5.0

## Clean Categories

In [57]:
CATEGORY_CUISINE_MAPPING = {'Steak':['Western'], 
 'Cocktails':['Alcohol','Drinks'], 
 'Great View': ['Good Environment'], 
 'Sushi':['Japanese'], 
 'Ramen':['Japanese','Noodles'], 
 'Islandwide Delivery':['Delivery'], 
 'Craft Beer':['Drinks','Alcohol'], 
 '1 For 1 Deals':['Value'],
 'Teppanyaki':['Japanese'], 
 'Sustainable Dining on Beyond':['Sustainable'], 
 'Vegan friendly':['Sustainable'], 
 'Kopitiam':['Local Delights'], 
 'Char Kway Teow':['Local Delights','Noodles','Chinese'], 
 'Taiwanese':['Chinese'], 
 'Waffles':['Desserts'], 
 'Zi Char':['Local Delights','Chinese'], 
 'Fruit Tea':['Drinks'], 
 'Pasta':['Western','Noodles'], 
 'Vouchers':['Value'], 
 'Chirashi':['Japanese'], 
 'Bars':['Alcohol','Drinks'], 
 'Burpple Beyond Deals üí∞':['Value'], 
 'BITES':['Bites'],
 'Burpple Guides':['Recommended'],
 'Michelin Guide Singapore 2018':['Recommended'],
'Grill & BBQ':['Western','BBQ'], 
'Bread & Pastries':['Desserts','High Tea', 'Breakfast & Brunch'], 
 'Vegetarian friendly':['Sustainable'], 
 'Cheap & Good':['Value'], 
 'Mediterranean':['Middle Eastern'], 
 'Michelin Guide Singapore 2017':['Recommended'], 
 'Hawker Food':['Local Delights'], 
 'Ice Cream & Yoghurt':['Desserts'], 
 'Cafes & Coffee':['Desserts','High Tea', 'Breakfast & Brunch'], 
 'Interesting':['Good Environment'],
'Dinner with Drinks':['Drinks'], 
'Bak Kut Teh':['Local Delights', 'Chinese'],
'Burgers':['Western'],
'Korean Desserts': ['Desserts','Korean'],
 'Vegetarian':['Sustainable'], 
 'Nasi Lemak':['Malay','Local Delights'], 
 'Salads':['Western'], 
'TAKEAWAY OPTION':['Convenient'],
'Delivery':['Convenient'], 
'Sandwiches':['High Tea', 'Breakfast & Brunch', 'Western'], 
'Pizza':['Western'],
'Vegan':['Sustainable'], 
'Dim Sum':['Chinese'], 
'Chicken Rice':['Local Delights','Chinese'], 
'Fried Chicken':['Korean', 'Western', 'Bites','Fast Food'], 
'Korean BBQ':['Korean','BBQ'],
'Filipino Local Delights':['Filipino'], 
'Cakes':['Desserts','High Tea'], 
'Michelin Guide Singapore 2019':['Recommended'],
 'Korean Fried Chicken':['Korean','Bites','Fast Food'], 
'Hot Pot': ['Chinese', 'Rainy Day Comforts'], 
'Late Night':['Supper'],
 'Bubble Tea':['Drinks']}

In [68]:
# find unique categories 
def find_unique_categories(category_col_name):
    all_categories = []
    for categories in data[category_col_name]:
        try:
            all_categories.extend(ast.literal_eval(categories))
        except:
            all_categories.extend(categories)
    print(f'Num of Categories:{len(set(all_categories))}')
    for i in set(all_categories):
        print(i)

In [69]:
find_unique_categories('categories')

Num of Categories:101
Desserts
Date Night
High Tea
Middle Eastern
Steak
Vegan friendly
Cocktails
Great View
Local Delights
Sushi
Fine Dining
Ramen
Islandwide Delivery
Chinese
Turkish
Hidden Gem
Greek
Craft Beer
1 For 1 Deals
Bites
Korean
Teppanyaki
Sustainable Dining on Beyond
Buffets
Mexican
Healthy
Kopitiam
Argentinian
Soup
Newly Opened
Char Kway Teow
Taiwanese
Waffles
Zi Char
Fruit Tea
Pasta
Pet-Friendly
Burpple Guides
Vouchers
Chirashi
Bars
Burpple Beyond Deals üí∞
BITES
European
Vietnamese
Michelin Guide Singapore 2018
Grill & BBQ
Bread & Pastries
BBQ
Italian
Vegetarian friendly
Cheap & Good
Mediterranean
Rainy Day Comforts
Michelin Guide Singapore 2017
Hawker Food
Ice Cream & Yoghurt
Seafood
Noodles
Cafes & Coffee
Interesting
Dinner with Drinks
Bak Kut Teh
Japanese
Burgers
Halal
Korean Desserts
Vegetarian
Nasi Lemak
Delivery
Salads
Supper
Breakfast & Brunch
Western
TAKEAWAY OPTION
Russian
Good For Groups
Sandwiches
Pizza
Vegan
Malay
Dim Sum
Chicken Rice
Fried Chicken
French
Indonesian
Kid Friendly
Korean BBQ
Thai
Fast Food
Filipino Local Delights
Peranakan
Cakes
Michelin Guide Singapore 2019
Spanish
Korean Fried Chicken
BEYOND
Hot Pot
Indian
Late Night
Bubble Tea

In [59]:
# map categories
all_new_categories = []
for idx, row in data.iterrows():
    categories = ast.literal_eval(row['categories'])
    new_categories = []
    for category in categories:
        if category in CATEGORY_CUISINE_MAPPING.keys():
            new_categories.extend(CATEGORY_CUISINE_MAPPING[category])
        else:
            new_categories.append(category)
    all_new_categories.append(new_categories)

data['cleaned_categories'] = all_new_categories

In [70]:
# find unique categories after mapping
find_unique_categories('cleaned_categories')

Num of Categories:52
Delivery
Recommended
Argentinian
Soup
Desserts
Newly Opened
Date Night
Value
Drinks
Supper
High Tea
Rainy Day Comforts
Middle Eastern
Breakfast & Brunch
Western
Good Environment
Russian
Good For Groups
Seafood
Local Delights
Malay
Noodles
Pet-Friendly
Fine Dining
Chinese
Sustainable
French
Indonesian
Convenient
Turkish
Kid Friendly
Hidden Gem
Greek
Thai
Fast Food
Peranakan
Healthy
Bites
European
Alcohol
Spanish
Korean
Japanese
Vietnamese
Halal
BEYOND
Buffets
Indian
BBQ
Filipino
Mexican
Italian

## Check for null values

In [37]:
# Check if there is any null value
data.isna().apply(pd.value_counts)

,url,name,neighbourhood,price,categories,review,user,date,cleaned_price
False,6528650.0,6528650.0,6528561,6528650.0,6528650.0,6528650.0,6528650.0,6528650.0,6526869
True,NaN,NaN,89,NaN,NaN,NaN,NaN,NaN,1781

In [38]:
# 89 reviews have no neighbourhood. Thus, we drop these reviews.
cleaned_data = data[~data['neighbourhood'].isna()]

# 1781 reviews have no price. Thus, we drop these reviews.
cleaned_data = data[~data['cleaned_price'].isna()]

In [39]:
# Total Number of restaurant reviews
print(f'No. reviews: {len(cleaned_data)}')
# Number of restaurants with reviews
num = len(cleaned_data['url'].unique())
print(f'No. restaurants: {num}')

No. reviews: 6526869
No. restaurants: 845

In [29]:
cleaned_data.to_csv('all_restaurant_reviews.csv')

## Categorical EDA