In [11]:
import pandas as pd
import os

#### Combine all reviewer data

In [12]:
data_all_reviewers = pd.DataFrame()
for file in os.listdir('reviewer-data'):
    if file!='all_reviewer_reviews.csv' and '.csv' in file: 
        data = pd.read_csv('reviewer-data/'+ file)
        data['reviewer'] = file.split('_reviews')[0]
        data_all_reviewers = data_all_reviewers.append(data)

data_all_reviewers = data_all_reviewers.iloc[:,1:]
data_all_reviewers.head(3)

/var/folders/74/n55gd6gs38n5wj2k6hwrc_yc0000gn/T/ipykernel_85062/2083742583.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_all_reviewers = data_all_reviewers.append(data)
/var/folders/74/n55gd6gs38n5wj2k6hwrc_yc0000gn/T/ipykernel_85062/2083742583.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_all_reviewers = data_all_reviewers.append(data)
/var/folders/74/n55gd6gs38n5wj2k6hwrc_yc0000gn/T/ipykernel_85062/2083742583.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_all_reviewers = data_all_reviewers.append(data)
/var/folders/74/n55gd6gs38n5wj2k6hwrc_yc0000gn/T/ipykernel_85062/2083742583.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_all_reviewers = data_all_reviewers.append(data)
/var/folders/74/n55gd6gs38n5wj2k6hwrc_yc0000gn/T/ipykernel_85062/2083742583.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_all_reviewers = data_all_reviewers.append(data)
/var/folders/74/n55gd6gs38n5wj2k6hwrc_yc0000gn/T/ipykernel_85062/2083742583.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_all_reviewers = data_all_reviewers.append(data)
/var/folders/74/n55gd6gs38n5wj2k6hwrc_yc0000gn/T/ipykernel_85062/2083742583.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_all_reviewers = data_all_reviewers.append(data)
/var/folders/74/n55gd6gs38n5wj2k6hwrc_yc0000gn/T/ipykernel_85062/2083742583.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_all_reviewers = data_all_reviewers.append(data)
/var/folders/74/n55gd6gs38n5wj2k6hwrc_yc0000gn/T/ipykernel_85062/2083742583.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_all_reviewers = data_all_reviewers.append(data)
/var/folders/74/n55gd6gs38n5wj2k6hwrc_yc0000gn/T/ipykernel_85062/2083742583.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_all_reviewers = data_all_reviewers.append(data)

,name,address,review,date,link,reviewer
0,Ya Kun Kaya Toast,"2 Tampines Central 5, Singapore",\nBreakfast \nSet A (S$5.60)\nKaya butter toas...,3h ago,https://www.burpple.com/ya-kun-kaya-toast-66?b...,alamakgirl
1,511 Lor Mee,"509 Bedok North Street 3, Singapore",\nLunch\nLor Mee (S$4.50)\nKueh tiao topped wi...,5h ago,https://www.burpple.com/511-lor-mee?bp_ref=%2F...,alamakgirl
2,McDonald's,"60 Yishun Avenue 4, Yishun",\nSupper\nQuarter Pounder with Cheese Meal (S$...,19h ago,https://www.burpple.com/mcdonalds-555?bp_ref=%...,alamakgirl

In [13]:
len(data_all_reviewers)

60470

In [14]:
data_all_reviewers.groupby('reviewer').count()

                   name  address  review  date  link
reviewer
DanielFoodDiary    5079     4973    5422  5422  5422
Eatravel           4564     4562    4582  4582  4582
MightyFoodie       5110     5090    5164  5164  5164
Vanessa_Kou        4757     4755    4898  4898  4898
alamakgirl         9718     9715    9819  9819  9819
iSteven            4469     4434    4812  4812  4812
juliuslim          5826     5814    5976  5976  5976
thefoodcompendium  6582     6577    6711  6711  6711
thiampeng          5081     5078    5086  5086  5086
veronicaphua       7764     7754    8000  8000  8000

In [15]:
data_all_reviewers['keep'] = data_all_reviewers.apply(lambda x: 1 if 'ago' in x['date'] else 1 if 'at' in x['date'] else 1 if int(x['date'].split(', ')[-1]) >=2020 else 0, axis = 1)
from_2020 = data_all_reviewers[data_all_reviewers['keep']==1]
from_2020

,name,address,review,date,link,reviewer,keep
0,Ya Kun Kaya Toast,"2 Tampines Central 5, Singapore",\nBreakfast \nSet A (S$5.60)\nKaya butter toas...,3h ago,https://www.burpple.com/ya-kun-kaya-toast-66?b...,alamakgirl,1
1,511 Lor Mee,"509 Bedok North Street 3, Singapore",\nLunch\nLor Mee (S$4.50)\nKueh tiao topped wi...,5h ago,https://www.burpple.com/511-lor-mee?bp_ref=%2F...,alamakgirl,1
2,McDonald's,"60 Yishun Avenue 4, Yishun",\nSupper\nQuarter Pounder with Cheese Meal (S$...,19h ago,https://www.burpple.com/mcdonalds-555?bp_ref=%...,alamakgirl,1
3,Tian Yu Tian Fish Head Steamboat,"537 Bedok North Street 3, Singapore",\nZi Char\nCrispy Noodles (S$4.50)\n,1d ago,https://www.burpple.com/tian-yu-tian-fish-head...,alamakgirl,1
4,Kiroi Freshly Baked Cheese Cake,"123 Bukit Merah Lane 1, Singapore",\nCake\nOriginal (S$9)\nSoft and pillowy. Japa...,1d ago,https://www.burpple.com/kiroi-freshly-baked-ch...,alamakgirl,1
...,...,...,...,...,...,...,...
4479,Earth Jar Treasure,"22 Sin Ming Road, Singapore ...",\nBlack Chicken Soup 7nett +0.3nett Takeaway\n...,"Jan 1, 2020",https://www.burpple.com/earth-jar-treasure?bp_...,thefoodcompendium,1
4480,Hup Seng Duck Rice,"22 Sin Ming Road, Singapore ...",\nComplimentary Clear Soup\nVery faint duck ta...,"Jan 1, 2020",https://www.burpple.com/hup-seng-duck-rice?bp_...,thefoodcompendium,1
4481,Hup Seng Duck Rice,"22 Sin Ming Road, Singapore ...",\nSalted Veg Duck Soup 6nett\nThey got SOPs an...,"Jan 1, 2020",https://www.burpple.com/hup-seng-duck-rice?bp_...,thefoodcompendium,1
4482,Hup Seng Duck Rice,"22 Sin Ming Road, Singapore ...",\nExtra Duck 8nett\nHonestly not very sure how...,"Jan 1, 2020",https://www.burpple.com/hup-seng-duck-rice?bp_...,thefoodcompendium,1
4483,Fat Saigon Boy (Science Park) ...,"2 Science Park Drive, Singapore ...",\nTiramisu Trifle 6+\nSo frigging good. It's t...,"Jan 1, 2020",https://www.burpple.com/fat-saigon-boy-savourw...,thefoodcompendium,1

In [16]:
from_2020.groupby('reviewer').count()

                   name  address  review  date  link  keep
reviewer
DanielFoodDiary     117      117     122   122   122   122
Eatravel           1790     1789    1796  1796  1796  1796
MightyFoodie       1621     1620    1636  1636  1636  1636
Vanessa_Kou         955      955    1028  1028  1028  1028
alamakgirl         3162     3162    3173  3173  3173  3173
iSteven              43       43      46    46    46    46
juliuslim          1345     1344    1448  1448  1448  1448
thefoodcompendium  4398     4393    4484  4484  4484  4484
thiampeng          3134     3131    3134  3134  3134  3134
veronicaphua        826      822     906   906   906   906

In [8]:
from_2020.to_csv('reviewer-data/all_reviewer_reviews.csv')

#### Find unique restaurants

In [9]:
unique_restaurants = []
links = []
for i in from_2020['link'].unique():
    name = i.replace('https://www.burpple.com/','')
    name = name.split('?')[0]
    try:
        unique_restaurants.append(name.strip())
        links.append(i)
    except:
        pass

In [10]:
len(unique_restaurants)

5761

In [8]:
result = pd.DataFrame()
result['name'] = unique_restaurants
result['link'] = links

In [9]:
pd.DataFrame(result).to_csv('restaurant-data/unique_restaurants.csv')